@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* section banner style */
*{
    margin: 0px;
}

/* banner */
.banner{
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 200px;
    background-image: url(../images/Banner\ Image.png);
}
/* banner title */
.ban-title{
    margin: 10px auto;
    max-height: fit-content;
    max-width: 200px;
    /* padding: 10px auto; */
    text-align: center;
    /* margin: 10px auto; */
    color: white;
}
.ban-title h5{
    padding-top: 15px;
    text-align: center;
}
.ban-ti-ma{
    font-size:medium ;
    /* padding-bottom: 100px; */
}
/* discount section style */
#discount{
    
    max-width: 300px;
    max-height: 300px;
}
.dis-con{
    text-align: center;

}
.dis-con h1{
    color: red;
    font-size: xx-large;
}
.dis-con h4{
    color: red;
    padding-top: 10px;
}
.dis-con h2{
    padding-top: 5px;
}
.dis-img{
    text-align: center;
 margin: 20px auto;
 size: auto;
 
}
/* Common style */
section{
    border-radius: 5px;
    /* border: 3px solid; */
    margin: 20px auto;
}
/* Party section */
#party{
    /* padding: 10px auto; */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Vectorrr.png);
    
    height: 250px;
    width: 450px;
}
.party-con{
    padding: 10px auto;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.pa-con-des{
    margin: 50px auto;
    color: white;
    /* padding: 10px auto; */
    max-width: 220px;
    max-height: 200px;
}
.pa-img{
    margin: 50px auto;
}
.pa-con-des h1{
    margin-bottom: 15px;
}
.pa-con-des h6{
    /* display: inline; */
    margin-bottom: 20px;
}
.pa-con-des h5{
    padding-left: 20px;
}
/* about section */
#about{
    
    height: 200px;
    width: 450px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
     /* background: linear-gradient(180.00deg,red); */
}
.about-con{
    padding: 50px ;
    
    text-align: center;
    
}
.about-con span{
    color: red;
}
.btn-a{
    text-align: center;
    margin-top: 20px;
}
.about-con button{
    border: none;
    color: white;
    border-radius: 2px;
    background-color: #FF0000;
}
/* Offer Section */
#offer{
    height: 200px;
    width: 450px;
}
/* new best offer */
.new-best h5{
    color: red;
}
.new-best h2{
    font-weight: 600;
}
.new-best p{
    max-width: 100px;
}
.offer-con{
    display: flex;
}