@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* section banner style */
*{
    margin: 0px;
}

/* banner */
.banner{
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 200px;
    background-image: url(../images/Banner\ Image.png);
}
/* banner title */
.ban-title{
    margin: 10px auto;
    max-height: fit-content;
    max-width: 200px;
    /* padding: 10px auto; */
    text-align: center;
    /* margin: 10px auto; */
    color: white;
}
.ban-title h5{
    padding-top: 15px;
    text-align: center;
}
.ban-ti-ma{
    font-size:medium ;
    /* padding-bottom: 100px; */
}
/* discount section style */
#discount{
    
    max-width: 300px;
    max-height: 300px;
}
.dis-con{
    text-align: center;

}
.dis-con h1{
    color: red;
    font-size: xx-large;
}
.dis-con h4{
    color: red;
    padding-top: 10px;
}
.dis-con h2{
    padding-top: 5px;
}
.dis-img{
    text-align: center;
 margin: 20px auto;
 size: auto;
 
}
/* Common style */
section{
    border-radius: 5px;
    /* border: 3px solid; */
    margin: 20px auto;
}
/* Party section */
#party{
    /* padding: 10px auto; */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Vectorrr.png);
    
    height: 250px;
    width: 450px;
}
.party-con{
    padding: 10px auto;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.pa-con-des{
    margin: 50px auto;
    color: white;
    /* padding: 10px auto; */
    max-width: 220px;
    max-height: 200px;
}
.pa-img{
    margin: 50px auto;
}
.pa-con-des h1{
    margin-bottom: 15px;
}
.pa-con-des h6{
    /* display: inline; */
    margin-bottom: 20px;
}
.pa-con-des h5{
    padding-left: 20px;
}
/* about section */
#about{
    
    height: 200px;
    width: 450px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
     /* background: linear-gradient(180.00deg,red); */
}
.about-con{
    padding: 50px ;
    
    text-align: center;
    
}
.about-con span{
    color: red;
}
.btn-a{
    text-align: center;
    margin-top: 20px;
}
.about-con button{
    border: none;
    color: white;
    border-radius: 2px;
    background-color: #FF0000;
}
/* Offer Section */
#offer{
    
    /* height: 300px; */
    height: fit-content;
    width: 450px;
}
/* new best offer */
.new-best h5{
    color: red;
}
.new-best{
    margin-top: 50px;
    max-width: 200px;
}
.new-best h2{
    font-weight: 600;
}
.dollar-des{
    max-width: 200px;
}
.new-best p{
    font-size: 10px;
    color: gray;
    /* max-width: 150px;
    max-height: 50px; */
}
/* offer contain */
.offer-con{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
/* css circle with border */
.offer-img{
    padding: 10px;
    background-color:#fff;
    border:5px solid red;    
    height:120px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:120px;
    /* border: 1px solid; */
    margin-left: 20px;
    margin-right: 20px;
}
/* offer foot */
.offer-foot p{
    color: gray;
    font-size: 10px;

}
.offer-foot-des h4{
    color: #FF0000;

}
.offer-foot{
    /* margin-bottom: 0px; */
    margin-top: 50px ;
    margin-left: 25px;
    margin-right: 25px;
}
.offer-foot-img{
    margin-top: 50px;
}
/* figure */
figure{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    /* border: 2px solid; */

}
figcaption{
    color: gray;
    /* text-align: center; */
    font-size: 10px;
    margin-left: 150px;
}
/* body */
/* body{
    background-color: black;
} */
/* function section */
#function{
    
    width: 450px;
    height: 300;
}
/* function contain */

/* description */
.fun-con-des{
    text-align: center;
}

.fun-con-des h1{
    font-size: 30px;
}
.tit{
    margin-top: 5px;
    color: #FF0000;
}
.fun-con-des h6{
    font-size: 10px;
}
.dol{
    margin-top: 5px;
    color: gray;
    font-size: 10px;
}
/* fun image */
.fun-img{
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 450px;
    background-image: url(../images/Rectangle\ 2.png);
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
/* gift section */
#gift{
    width: 450px;
    /* border: 2px solid; */
}
/* gift description */
.gift-des{
    /* max-width: 230px; */
    text-align: left;
}
.gift-des h6{
    margin-bottom: 3px;
    color: #FF0000;
}
.gif-de{
    
    color: gray;
    font-size: 10px;

}
/* gift image */
.gift-img{
    margin-top: 10px;

}
.gift-img img{
    
    width: 15opx;
    height: 150px;

}
/* subscribe */
#subscribe{
    background: rgba(255, 0, 0, 0.05);
    width: 450px;
    text-align: center;
}
.su{
    color: gray;
    font-size: 10px;
}
.sub-des{
    
    width:250px;
    margin: 3px auto;
}
/* footer section */
#footer{
    
    background: rgb(7, 2, 17);
    border: 1px solid rgb(8, 8, 24);
}
.foot-title{
    /* text-decoration: overline; */
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
}
.foot-title img{
    height: 10px;
}
/* footer Image */
.foot-img{
    /* text-decoration: overline; */
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.foot-img img{
    height: 20px;
}
/* body */
body{
    /* visibility: hidden; */
background: rgb(30, 30, 30)
}
